<script>
import { mapState, mapActions } from 'vuex';
import widgetMixin from '../mixins/widget';

export default {
  mixins: [widgetMixin],
  computed: {
    ...mapState(['mrsAssignedToMe']),
  },
}
</script>

<template>
  <list
    title="Merge requests assigned to me"
    subtitle="merge requests"
    :icon-number="2"
    :items="mrsAssignedToMe"
    :is-loading="isLoading"
  />
</template>
