<script>
import { mapState, mapActions } from 'vuex';
import widgetMixin from '../mixins/widget';

export default {
  mixins: [widgetMixin],
  computed: {
    ...mapState(['mrsCreatedByMe']),
  },
}
</script>

<template>
  <list
    title="Merge requests created by me"
    subtitle="merge requests"
    :icon-number="2"
    :items="mrsCreatedByMe"
    :is-loading="isLoading"
  />
</template>
