<script>
import GitlabLogo from './icons/GitLabLogo';
import ProjectDropdown from './ProjectDropdown';

export default {
  components: {
    GitlabLogo,
    ProjectDropdown,
  },
};
</script>

<template>
  <header class="Gitlab__Header">
    <gitlab-logo />
    <project-dropdown />
  </header>
</template>

<style>
@import url('/src/assets/variable.css');
.Gitlab__Header {
  height: 40px;
  background: var(--gitlab-color);
  padding: var(--gutter) calc(var(--gutter) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gutter);
  border-bottom: 1px solid var(--hover-color);
}
.Gitlab__Header a {
  display: flex;
  align-items: baseline;
  padding: calc(var(--gutter) / 2);
  border-radius: var(--border-radius);
  transition: 0.3s;
  z-index: 2; /* position content overlapping problem fixed. */
  margin-right: var(--gutter);
}
.Gitlab__Header a svg:first-child {
  margin-right: calc(var(--gutter) / 2);
}
.Gitlab__Header a svg:last-child {
  width: 55px;
  height: 24px;
  margin: 0;
  fill: #fff;
}
.Gitlab__Header a:hover {
  background: var(--hover-color);
}

@media (max-width: 400px) {
  .Gitlab__Header {
    flex-direction: column;
    height: auto;
  }
  .Gitlab__Header a {
    margin-bottom: calc(var(--gutter) / 4);
  }
}
</style>
