<script>
import Loading from './Loading';
import IssueIcon from './icons/Issue';
import MergeRequestIcon from './icons/MergeRequest';
import IssueListItem from './IssueListItem';
import PipelineListItem from './PipelineListItem';
import { TYPES } from '../store/constants';

export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
    iconNumber: {
      type: Number,
      required: true,
    },
    isLoading: {
      type: Boolean,
      required: true,
    },
  },
  components: {
    IssueIcon,
    MergeRequestIcon,
    Loading,
    IssueListItem,
    PipelineListItem,
  },
  methods: {
    getComponentName(item) {
      switch (item.dataType) {
        case TYPES.ISSUE:
        case TYPES.MERGE_REQUEST:
          return IssueListItem;
        break
        case TYPES.PIPELINE:
          return PipelineListItem;
        break
      }
    },
  },
};
</script>

<template>
  <div class="deck">
    <div class="deck__title">
    <div class="icon">
      <issue-icon v-if="iconNumber === 1"/>
      <merge-request-icon v-if="iconNumber === 2"/>
    </div>
    <h3>{{title}}</h3>
    </div>
    <hr>
    <div
      v-if="!items.length && !isLoading"
      class="no-items"
    >
      <p>There are no {{subtitle}} to show</p>
    </div>
    <ul
      v-if="!isLoading"
      class="deck__list"
    >
      <li
        v-for="item in items"
        :key="item.id"
      >
        <component
          :is="getComponentName(item)"
          :item="item"
        />
      </li>
    </ul>
  </div>
</template>

<style>
@import url('/src/assets/variable.css');

.deck {
  width: calc((100% / 4) - (var(--gutter)));
  padding: 0;
  margin: 0 5px 0px 5px;
  border: 1px solid var(--hover-color);
  border-radius: var(--border-radius);
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.deck:hover {
  box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.4);
  transition: 0.4s;
}

.deck .deck__title {
  height: 70px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  background: var(--hover-color);
}
.deck .deck__title h3 {
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: calc(var(--gutter) * 1);
  font-size: 15px;
}
.deck .no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  color: var(--text-color);
  width: 100%;
  text-align: center;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 600;
}
.deck .deck__title .icon {
  width: 22px;
  margin-right: calc(var(--gutter) / 3);
  fill: #fff;
  transform: translateY(3px);
}
.deck hr {
  border-color: var(--hover-color);
  margin: 0;
}

.deck .deck__list {
  padding: 0;
  margin: 0;
}
.deck .deck__list li {
  list-style: none;
  margin-bottom: 0;
  padding: calc(var(--gutter) / 4) var(--gutter);
  min-height: 20px;
  transition: 0.2s;
}
.deck .deck__list li:hover {
    background: rgba(76, 76, 124, 0.40);
}
.deck .deck__list li:not(:last-child) {
  border-bottom: 1px solid var(--hover-color);
}
.deck .deck__list li a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 10px;
  transition: 0.2s;
  display: inline-block;
}
.deck .deck__list li a:hover {
  color: var(--span-color);
  opacity: 0.8;
}
.deck .deck__list li span {
  font-size: 13px;
  font-style: italic;
  color: var(--text-color);
  display: flex;
  margin-bottom: var(--gutter);
  align-items: center;
}
.deck .deck__list li span b {
  opacity: 0.4;
  font-weight: normal;
}
.deck .deck__list li .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: calc(var(--gutter) / 2);
}

@media (max-width: 1170px) {
  .deck {
    max-width: calc((50%) - (var(--gutter) * 2));
    width: calc((50%) - (var(--gutter) * 2));
    padding: 0;
    margin: 0 20px 20px 0px;
    border: 1px solid var(--hover-color);
    border-radius: var(--border-radius);
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
  }
}
@media (max-width: 765px) {
  .deck {
    max-width: 100%;
    width: 100%;
    margin-bottom: calc(var(--gutter) * 2);
  }
  .deck .no-items {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
</style>
